doctype html
html
  head
   
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      

    block messages
     
    .content
      block content
    block footer
      p (c) Aditya Kumar
    block scripts
      
