.wrapper
    h1 we can use # and {} to interpolate variables in .pug file
    p for example
    p the name entered is #{name.toUpperCase()}
        |  the age entered is #{age}
        |  the place of work is #{place}
    p we can use js in pug file for that we use '-' followed by the constant declaration and initialization