.wrapper
    h1 we can use # and {} to interpolate variables in .pug file
    p for example
    p the name entered is #{name}
        |  the age entered is #{age}
    p to put input in a attribute we use (``) with $ and {} like in js sting templete        
     - const upDog = dog.toUpperCase(); // variable declaration within the pug file
    img.dog(src = "dog.jpg", alt = `Dog ${upDog}`)    
    h1 this is using req.query.name or .age or any other desirable queries